################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/mediatR/.vs/mediatR/v16/Server/sqlite3
